.App {
  text-align: center;
}
body {
  background: no-repeat url('https://img.freepik.com/free-photo/close-up-black-marble-textured-background_53876-63511.jpg?size=626&ext=jpg&ga=GA1.2.1287185959.1680120323&semt=ais');
  background-size: cover;

}

.dropdown-menu[data-bs-popper].dropdown {
  left: -100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-font {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: larger;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card-grid container {
  background-color: #af2424;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .Artwork-Card {
  height: auto;
  max-height: 600px;
  width: auto;
  max-width: 600px;
  margin-bottom: 10px;
  background: rgb(107, 32, 32);
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222;
  flex: 0 0 100%;
  
 }

 .card.card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  text-align: center;
  background-color: #e2e1df;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 2);
  color: #222;
  flex: 0 0 100%;
}

.card-grid {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.nav-right {
  right: 10rem;  
} 

.button:hover {
  text-transform: uppercase;
  color: darkred;
}

.card-wrap {
  flex: 0 0 33.333%;
  display: flex;
  padding: 10px; /* gutter width */
}

.paragraph {
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  font-family: 'Times', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
}

home {
  background-image: 'https://static.vecteezy.com/system/resources/thumbnails/003/291/338/small/vintage-frame-ornament-background-free-vector.jpg';
}

.carousel-inner img {
  max-width: 450px;
  width: 100%;
}

.carousel-inner {
  margin-top: 30px;
  
}